/**
 * ExchangeFeeInfo Component Styles
 */

.exchange-chips-container {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 4px;
  align-items: center;
}

.exchange-icon,
.exchange-info {
  background: var(--bgc);
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--colorc);
}

.exchange-info {
  display: flex;
  width: auto;
  border-radius: 8px;
  padding-inline: 12px;
  white-space: nowrap;
  line-height: normal;
}
