/* lola framework ui - Style Framework */

/* CSS Variables */
:root {
  --lola-green-color: #4ba84b;
  --lola-dark-green-color: #008433;
  --lola-light-green-color: #aaff74;

  --lola-blue-color: #2587ff;
  --lola-dark-blue-color: #5d5fef;
  --lola-light-blue-color: #69adff;

  --lola-purple-color: #6b0ecf;
  --lola-dark-purple-color: #530ba1;
  --lola-light-purple-color: #8934e3;

  --lola-pink-color: #fd0166;
  --lola-dark-pink-color: #bd004c;
  --lola-light-pink-color: #ff5c9d;

  --lola-text-color: #252525;
  --lola-border-color: #333f49;

  --lola-border-radius: 20px;
  --lola-font-family: Manrope, sans-serif;
  --lola-transition: all 0.2s ease-in-out;
}

/* Gradients */
.lola-green--gradient {
  background: linear-gradient(
    116.74deg,
    var(--lola-green-color) 23.26%,
    var(--lola-dark-green-color) 111.43%
  );
}

.lola-green--gradient:hover:not(:disabled) {
  background: linear-gradient(
    116.74deg,
    var(--lola-green-color) 0%,
    var(--lola-dark-green-color) 100%
  );
}

.lola-blue--gradient {
  background: linear-gradient(
    116.74deg,
    var(--lola-blue-color) 0%,
    var(--lola-dark-blue-color) 100%
  );
}

.lola-blue--gradient:hover:not(:disabled) {
  background: linear-gradient(
    116.74deg,
    var(--lola-blue-color) 0%,
    var(--lola-dark-blue-color) 100%
  );
}

.lola-purple--gradient {
  background: linear-gradient(
    116.74deg,
    var(--lola-purple-color) 23.26%,
    var(--lola-pink-color) 111.43%
  );
}

.lola-purple--gradient:hover:not(:disabled) {
  background: linear-gradient(
    116.74deg,
    var(--lola-purple-color) 0%,
    var(--lola-pink-color) 100%
  );
}

.lola-pink--gradient {
  background: linear-gradient(
    116.74deg,
    var(--lola-pink-color) 23.26%,
    var(--lola-purple-color) 111.43%
  );
  color: white;
}

.lola-pink--gradient:hover:not(:disabled) {
  background: linear-gradient(
    116.74deg,
    var(--lola-pink-color) 0%,
    var(--lola-purple-color) 100%
  );
}

/* Button Styles */

button {
  position: relative;
  border-radius: 20px;
  border: none;
  border-radius: var(--lola-border-radius);
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 1.2em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: var(--lola-transition);
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: inherit;
}

.lola-button p {
  margin: 0;
}

.lola-button-text {
  display: flex;
  gap: 8px;
  align-items: center;
}

.lola-button--icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lola-button--centerd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lola-button .lola-gradient-text {
  pointer-events: none;
}

.lola-button:disabled {
  opacity: 0.65;
  cursor: not-allowed !important;
}

/* Button Default */
.lola-button--default {
  background: var(--bg);
}

/* Button Outline */
.lola-button--outline {
  position: relative;
  background-color: transparent;
  border-radius: var(--lola-border-radius);
}

.lola-button--outline::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: var(--bg);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

/* Button Link & Button Cancel */
.lola-button--link,
.lola-button--cancel {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid transparent;
}

.lola-button--link::before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--link-bg);
  z-index: 1;
}

/* Button Sizes */
.lola-button--small {
  padding: 0.75rem;
}

.lola-button--small svg {
  width: 21px;
  height: 21px;
}

.lola-button--medium {
  padding: 1rem;
}

.lola-button--medium svg {
  width: 24px;
  height: 24px;
}

.lola-button--large {
  padding: 1.5rem;
  height: 75px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Navbar Styles */
.lola-navbar {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  z-index: 10000;
  color: var(--lola-text-color);
  position: relative;
}

.lola-navbar-center .lola-navbar--back-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100%;
}

.lola-navbar-center .lola-navbar--container--icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* Navbar Back Icon Styles */
.lola-navbar--back-icon {
  cursor: pointer;
  font-size: 36px;
}

.navbar-text-on-open + .lola-navbar--back-icon,
.navbar-text-on-open + .lola-navbar--container--icon {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

/* Navbar Container */
.lola-navbar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.lola-navbar--container--title {
  cursor: default;
}

.lola-navbar--container--icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.lola-navbar--container--icon--active {
  cursor: pointer;
}

.lola-navbar--container--icon--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Title Styles */
.lola-title {
  width: 100%;
}

.lola-title h2 {
  margin: 0;
  line-height: 2.5rem;
}

/* Title Sizes */
.lola-title--sm {
  font-size: 1rem;
  line-height: 1rem;
}

.lola-title--xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.lola-title {
  color: var(--lola-text-color);
  font-weight: 400;
}

.lola-title--sm .lola-title--subtitle {
  font-size: 0.75rem;
  line-height: 1rem;
}

.lola-title--lg .lola-title--subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.lola-title--xl .lola-title--subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.lola-title .lola-title--subtitle {
  color: var(--lola-text-color);
  font-weight: 400;
}

/* Title Align */
.lola-title--left h2.lola-gradient-text,
.lola-title--left p {
  text-align: left;
}

.lola-title--center h2.lola-gradient-text,
.lola-title--center p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.lola-title--right h2.lola-gradient-text,
.lola-title--right p {
  text-align: right;
  margin-left: auto;
}

/* Layout Styles */
.lola-layout {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: height 0.25 ease-in-out;
  overflow: hidden;
  background: var(--bg);
}

.lola-layout--container {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  position: relative;
}

/* Layout Header Styles */
.lola-layout--container--header {
  max-height: 56px;
  height: auto;
  width: 100%;
}

/* Layout Content Styles */
.lola-layout--container--content {
  flex: 1 1 0%;
  width: 100%;
}

.lola-layout--container--content--overflow {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.lola-layout--container--content--overflow::-webkit-scrollbar {
  display: none;
}

.lola-layout--container--content--container {
  height: auto;
  border-radius: 0.5rem;
}

.lola-layout--container--content--container--wrap {
  height: 100%;
  border-radius: 0.5rem;
}

/* Layout Footer Styles */
.lola-layout--container--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  transition: all 0.25s ease-in-out;
  z-index: 10;
}

.lola-cirular-progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lola-cirular-progress--element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.lola-gradient-text {
  color: transparent !important;
  width: fit-content;
  cursor: default;
  background: var(--textColor);
}

.lola-gradient-text:hover:not(:disabled) {
  color: transparent;
  background-clip: text;
  /* width: fit-content; */
  cursor: default;
}

.vgs-collect-iframe-wr iframe {
  width: 100%;
  height: 98%;
  margin: auto;
}

.vgs-collect-iframe-wr {
  display: block;
  height: 50px;
  max-height: 50px !important;
  border: 1px solid;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}

.zip-code {
  -moz-appearance: textfield;
}

.cvv {
  -moz-appearance: textfield;
  -webkit-text-security: disc;
}

.zip-code::-webkit-inner-spin-button,
.zip-code::-webkit-outer-spin-button,
.cvv::-webkit-inner-spin-button,
.cvv::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .vgs > div > div,
.vgs > div form {
  height: 100% !important;
}

.vgs > div form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* LabelInput Styles */
.lola-gradient-text.lola--label-input {
  position: absolute;
  left: 12px;
  top: var(--top);
  font-size: var(--size);
  padding: 0 4px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: ease-in-out top 0.3s;
  z-index: 50;
}

/* Inputfield Styles */
.lola-input-field {
  position: relative;
  width: 100%;
  height: 56px;
}

.lola-input-icon svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.lola-input-field .lola--label-input {
  z-index: 2;
  line-height: 2;
}

.lola-input-field .lola-input-field--container,
.icons-storybook-demo-slot {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  border-color: transparent;
}

.lola-input-field .lola-input-field--container::before,
.icons-storybook-demo-slot::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: var(--bg);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
  box-sizing: border-box;
}

.lola-input-field .lola-input-field--container input {
  width: 100%;
  height: 100%;
  padding: 0 14px;
  font-size: 16px;
  transition: ease-in-out all 0.3s;
  outline: none;
  border: none;
  background-color: transparent;
}

.lola-input-icon .lola-input-field--container input {
  padding-left: 44px;
}

.lola-input-field--container .lola-input-field-color-text {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  pointer-events: none;
}

.lola-input-field--container .lola-input-field-color-square {
  position: absolute;
  right: 14px;
  height: 20px;
  width: 20px;
  background: var(--color);
  top: 50%;
  border: solid 1px #ccc;
  transform: translateY(-50%);
  pointer-events: none;
}

.lola-input-currency {
  .lola-input-field--container {
    &::after {
      content: "$";
      position: absolute;
      top: calc(50% - 1px);
      left: 14px;
      transform: translateY(-50%);
      font-size: 16px;
      line-height: 1;
    }

    input {
      padding-left: 30px;
    }
  }
}

.input-currency {
  position: absolute;
  width: 75px;
  height: calc(100% - 2px);
  right: 1px;
  top: 1px;
  border-radius: 0 9px 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  z-index: 12;
  border: solid 1px transparent;

  &:hover {
    cursor: default;
  }
}

/* Map Styles */

/* Autocomplete Styles*/
.lola-autocomplete {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.lola-autocomplete--input {
  width: 100%;
  padding: 20px;
  padding-left: 44px;
  border: solid 1px;
}

.lola-autocomplete--icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-60%);
}

/* VGS Styles*/

.lola-vgs--input {
  position: relative;
  margin-bottom: 8px;

  &.exp-cvc {
    padding-bottom: 8px;

    .lola--label-input {
      margin-top: -2px;
    }
  }
}

.zip-code {
  -moz-appearance: textfield;
}

.cvv {
  -moz-appearance: textfield;
  -webkit-text-security: disc;
}

.zip-code::-webkit-inner-spin-button,
.zip-code::-webkit-outer-spin-button,
.cvv::-webkit-inner-spin-button,
.cvv::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vgs-collect-iframe-wr iframe {
  margin-top: 1px;
  height: 96%;
}

.vgs-collect-iframe-wr,
.vgs-collect-container__dirty.vgs-collect-container__valid,
.vgs-collect-container__invalid.vgs-collect-container__focused,
.vgs-collect-container__dirty.vgs-collect-container__invalid,
.vgs-collect-iframe-wr.vgs-collect-container__empty.vgs-collect-container__touched {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  z-index: 10;
  border-radius: var(--radius);
}

.vgs-collect-iframe-wr::before,
.vgs-collect-container__dirty.vgs-collect-container__valid::before,
.vgs-collect-container__invalid.vgs-collect-container__focused::before,
.vgs-collect-container__dirty.vgs-collect-container__invalid::before,
.vgs-collect-iframe-wr.vgs-collect-container__empty.vgs-collect-container__touched::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: var(--bg) !important;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.vgs > div > div,
.vgs > div > div > div,
.vgs > div form {
  height: 100% !important;
}

.vgs > div form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout-design {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  border: solid 1px rgba(0, 0, 0, 0.25);
  z-index: 10;
  pointer-events: none;
}

.layout-design-slot {
  width: 100%;
  height: 100%;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.error-label-container {
  display: flex;
  gap: 4px;
  align-items: stretch;
  margin-top: -8px;
  margin-bottom: 8px;
  font-size: 12px;
  width: 100%;

  svg {
    border: solid 1px var(--errorColor);
    border-radius: 100%;
    width: 16px;
    min-width: 16px;
    max-width: 16px;
    height: 16px;
    min-height: 16px;
    max-height: 16px;
    padding: 2px;
  }

  .error-label {
    text-align: left;
    color: var(--errorColor);

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.lola-body-copy {
  width: 100%;
  padding-inline: 24px;
  text-align: center;
  padding-bottom: 0.2em;
}

.lola-title-highlight {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 0.2em;
  margin: auto;
}

.lola-title-highlight .lola-title-h1 {
  margin: auto;
  padding-bottom: 0.2em;
  display: block;
}

.lola-iproov-button-slot {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 64px);
  max-width: 500px;
  margin: auto;
}

.lola-iproov-button-slot .wrapper {
  width: 100%;
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  position: relative;
}

.lola-iproov-button-slot .wrapper .lola-layout--container--footer {
  position: relative;
  z-index: 50;
  flex-direction: column;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes typing-reverse {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 1;
  }
}

.typing-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
}

.typing-in {
  animation: typing 0.5s steps(40, end) forwards;
  animation-delay: var(--delay);
}

.typing-out {
  animation: typing-reverse 0.5s steps(40, end) forwards;
  animation-delay: calc(var(--delay) - var(--delay));
}

.vgs {
  .lola-layout--container--content--container {
    height: 100%;

    .lola-layout--container--content--container--wrap {
      height: 100%;

      div {
        height: 100%;

        div {
          height: 100%;

          form section article div {
            background: transparent !important;

            iframe,
            input {
              max-height: 45px !important;
              background: transparent !important;
            }
          }
        }
      }
    }
  }
}

input[type="color"]::-webkit-color-swatch {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.page {
  font-family: var(--font);
}

.select-component {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .select-input {
    border: solid 1px #979797;
    padding: 20px;
    border-radius: 20px;
  }

  .select-container {
    height: auto;
    max-height: 350px;
    overflow: hidden;
    border: solid 1px #979797;
    position: relative;
    border-radius: 20px;

    &.long {
      height: 350px;
      overflow: auto;
    }
  }

  .select-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .select-selector {
      position: absolute;
      width: 100%;
      height: 68px;
      background: var(--sbg);
      z-index: 1;
      top: calc(var(--top) * 68px);
      transition: all 0.5s ease-in-out;
    }

    .select-item {
      width: 100%;
      border-bottom: solid 1px #979797;
      text-align: center;
      padding: 20px;
      height: 68px;
      min-height: 68px;
      max-height: 68px;
      transition: 0.5s ease-in-out all;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }

      &.active {
        color: var(--scolor);
      }

      &:nth-last-child(2) {
        border-bottom: none;
      }

      &:hover {
        cursor: pointer;
      }

      &.empty-item {
        display: flex;
        gap: 8px;
        justify-items: center;
        align-items: center;
        border: none;

        svg {
          width: 24px;
          height: 24px;
          display: flex;
          padding: 4px;
          justify-items: center;
          align-items: center;
          border: solid 2px #000;
          border-radius: 100%;
          pointer-events: none;
        }
      }
    }
  }
}

.layout-success::before {
  content: "";
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--bgc);
  z-index: 0;
  animation: success 1.5s ease-out forwards;
  animation-delay: var(--delay);
}

@keyframes success {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 200vmax;
    height: 200vmax;
    opacity: 1;
  }
}

.stepper-component {
  margin: auto;
  position: relative;

  .stepper-container {
    position: relative;
    display: flex;
    justify-content: space-between;

    .step-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      font-weight: 600;
      position: relative;
      width: 100%;

      .step-index {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: var(--index-inactive-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        border: solid 2px var(--index-inactive-color);
        color: var(--index-inactive-color);
      }

      .step-label {
        color: var(--label-color);
      }

      .step-progress {
        position: absolute;
        height: 20px;
        width: 100%;
        left: 50%;
        top: 16px;
        transform: translateY(-50%);
        background: var(--track-inactive-bg);
        z-index: 1;

        &.active {
          background: var(--track-bg);
        }
      }

      &:nth-last-child(1) .step-progress {
        display: none;
      }

      &.active {
        .step-index {
          background: var(--bg);
          color: var(--color);
          border-color: var(--bg);
        }
      }
    }
  }
}

.elevated-circle {
  position: relative;
  width: 128px;
  height: 128px;
  margin-inline: auto;
  padding: 20px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33%;
  border-radius: 100%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  scale: 0.9;

  .elevated-circle-section {
    position: relative;
    z-index: 10;
    display: contents;
  }
}

@media (height <= 732px) {
  .elevated-circle {
    margin-top: 20%;
  }
  .elevated-homepage {
    margin-top: 50%;
  }
  .elevated-loading {
    margin-top: 40%;
  }
}

@media (height <= 688px) {
  .elevated-circle {
    margin-top: 15%;
  }
}

@media (height <= 670px) {
  .elevated-circle {
    margin-top: 40px;
  }
}

@media (height <= 660px) {
  .elevated-circle {
    margin-top: 20px;
  }
}

@media (height <= 639px) {
  .elevated-circle {
    margin-top: 0px;
  }
}

.upload-loading {
  width: 100%;

  .lola-layout--container--content--container {
    width: 100%;
  }
}

.upload-loading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 33%;
}

.upload-circular-progress {
  transform: scale(0.9);
  padding: 4px;

  .elevated-circle {
    margin: 0;
    scale: 0.8;
  }
}

.search-select-component {
  position: relative;
  width: 100%;

  .search-select-component-preview {
    border: solid 1px #979797;
    height: 56px;
    border-radius: 10px;
    padding: 0 14px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      background: var(--color);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 1;
      pointer-events: none;
      box-sizing: border-box;
    }

    svg {
      width: 16px;
      height: 16px;
      color: #979797;
      transition: transform 0.25s ease-in-out;
      position: absolute;
      right: 14px;
      top: calc(50% - 16px);
      transform: translateY(50%) rotate(0);

      &.active {
        transform: rotate(180deg) translateY(-50%);
      }
    }
  }

  .search-select-component-wrapper {
    position: relative;
    border-radius: 10px;
    margin-top: 4px;

    .search-select-component-container-border {
      content: "";
      width: 100%;
      height: 202px;
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      background: var(--color);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 2;
      pointer-events: none;
    }

    .search-select-component-container {
      position: absolute;
      z-index: 10;
      width: 100%;
      margin-top: 4px;
      border: solid 1px #e4e4e4;
      border-radius: 10px;
      max-height: 200px;
      overflow: auto;
      background: #fff;
      z-index: 60;
      background-color: transparent;
      box-sizing: border-box;

      &.open-top {
        bottom: 100%;
        margin-top: 0;
        margin-bottom: 4px;
      }

      &.open-bottom {
        top: 100%;
        margin-bottom: 0;
        margin-top: 4px;
      }

      input {
        box-sizing: border-box;
        width: 100%;
        height: 56px;
        padding: 0 16px;
        font-size: 16px;
        border: none;
        border-bottom: solid 1px #e4e4e4;
        outline: none;
        position: sticky;
        top: 0;
        background: var(--bg);
        border-radius: 10px 10px 0 0;
      }

      .search-select-component-container-list {
        width: 100%;
        overflow: auto;
        padding: 0;
        margin: 0;
        padding-block: 8px;

        .search-select-component-container-list-item {
          padding-inline: 16px;
          padding-block: 8px;
          font-size: 14px;
          cursor: pointer;
          border-bottom: solid 1px #e4e4e4;
          list-style: none;
          background: var(--bg);

          &:nth-last-child(1) {
            border: none;
          }

          &:hover {
            background-color: #f7f7f7;
          }

          &.active {
            background: var(--active-item-bg);
            color: var(--active-item-color);
          }
        }
        .search-select-component-container-list-empty-item {
          padding: 0 14px;
          font-size: 16px;
          pointer-events: none;
          color: #000;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade {
  animation: fade 3s linear infinite;
}

.dropzone-btn {
  border-radius: 100%;
  padding: 8px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
