:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button:focus,
button:focus-visible {
  outline: none !important;
}

.comment {
  color: #4ba84b;
}

.icons-storybook-demo {
  width: 90%;
  margin: auto;
  padding-bottom: 24px;
  padding-top: 24px;
}

.icons-stoybook-demo-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding-bottom: 24px;
  padding-top: 24px;
  grid-auto-rows: auto;
}

.icons-storybook-demo-slot {
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 151px;
  gap: 4px;
}

.icons-storybook-demo-slot p {
  font-size: 10px;
}

.icons-storybook-demo--field-container,
.icons-storybook-demo--field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons-storybook-demo--field-container {
  gap: 24px;
  flex-direction: row;
}

.icons-storybook-demo--field {
  width: 100%;
  align-items: flex-start;
}

.icons-storybook-demo--field input {
  width: 100%;
}

@media (width <= 1550px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (width <= 1350px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (width <= 1180px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width <= 1000px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 820px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 650px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.font-demo-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.font-demo-api {
  display: flex;
  gap: 8px;

  input {
    width: calc(70% - 4px);
  }

  svg {
    width: calc(30% - 4px);

    &:hover {
      cursor: pointer;
    }
  }
}

.font-demo-footer {
  gap: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.font-demo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.lola-layout.lola-form {
  margin: 0;
  max-width: 100%;
  width: 100%;

  .lola-layout--container {
    max-width: 100%;
    overflow: auto;
  }
}

.font-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .font-form-container {
    position: relative;
    border-bottom: solid 1px #979797;
    padding-bottom: 8px;

    &:nth-last-child(1) {
      border: none;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    .font-form-inputs {
      display: flex;
      gap: 8px;
    }
  }
}

.font-demo-footer-btns {
  width: 100%;
  background: #fff;
  display: flex;
  gap: 8px;
  padding-top: 12px;
}