:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button:focus,
button:focus-visible {
  outline: none !important;
}

.comment {
  color: #4ba84b;
}

.icons-storybook-demo {
  width: 90%;
  margin: auto;
  padding-bottom: 24px;
  padding-top: 24px;
}

.icons-stoybook-demo-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding-bottom: 24px;
  padding-top: 24px;
  grid-auto-rows: auto;
}

.icons-storybook-demo-slot {
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 151px;
  gap: 4px;
}

.icons-storybook-demo-slot p {
  font-size: 10px;
}

.icons-storybook-demo--field-container,
.icons-storybook-demo--field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons-storybook-demo--field-container {
  gap: 24px;
  flex-direction: row;
}

.icons-storybook-demo--field {
  width: 100%;
  align-items: flex-start;
}

.icons-storybook-demo--field input {
  width: 100%;
}

@media (width <= 1550px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (width <= 1350px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (width <= 1180px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width <= 1000px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 820px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 650px) {
  .icons-stoybook-demo-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.font-demo-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.font-demo-api {
  display: flex;
  gap: 8px;

  input {
    width: calc(70% - 4px);
  }

  svg {
    width: calc(30% - 4px);

    &:hover {
      cursor: pointer;
    }
  }
}

.font-demo-footer {
  gap: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.font-demo {
  display: grid;
  grid-template-columns: minmax(500px, 1fr) 2fr;
  gap: 0;

  .lola-layout:nth-child(1) {
    width: 100% !important;
  }
}

.lola-layout.lola-form {
  margin: 0;
  max-width: 100%;
  width: 100%;

  .lola-layout--container {
    max-width: 100%;
    overflow: auto;
  }
}

.font-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .font-form-container {
    position: relative;
    border-bottom: solid 1px #979797;
    padding-bottom: 8px;

    &:nth-last-child(1) {
      border: none;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    .font-form-inputs {
      display: flex;
      gap: 8px;
    }
  }
}

.color-form {
  margin-bottom: 20px;
  border-bottom: solid 1px #979797;
  padding-bottom: 20px;

  .color-form-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 8px;
  }
}

.font-demo-footer-btns {
  width: 100%;
  background: #fff;
  display: flex;
  gap: 8px;
  padding-top: 12px;
}

.demo-sliders {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;

  .demo-slide {
    width: 500px;
    min-width: 500px;
    border-right: solid 1px #ccc;
    overflow: hidden;
  }
}

.homepage-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.homepage-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  .terms-text {
    text-align: center;
    margin: auto;
    margin-bottom: 12px;

    .text-link {
      color: #2587ff;
      font-weight: 600;
    }
  }
}

.elevated-circle-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.step {
  height: 100%;
}

.stepper-section {
  width: 100%;
  margin-top: 25%;
}

@keyframes success {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 200vmax;
    height: 200vmax;
    opacity: 1;
  }
}

.desktop-dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  max-width: 584px;
  margin: auto;

  .desktop-dropzone-section {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 20%;
    width: 100%;
  }

  .desktop-dropzone-input {
    width: 100%;
    padding-block: 44px;
    min-height: 256px;
    max-height: 320px;
    border: dashed 3px;
    border-radius: 30px;
    cursor: pointer;

    .desktop-dropzone-input-area {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 16px;

      .elevated-circle-container {
        margin-top: 0;

        .elevated-circle {
          margin-top: 0;
        }
      }

      .desktop-dropzone-input-disclaimer {
        max-width: 350px;
        margin: auto;
      }
    }
  }
}

.dropzone-btn {
  border-radius: 100%;
  padding: 8px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-loading {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  gap: 16px;
}

.upload-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: calc(20% + 20px);
}

.autocomplete-container {
  width: 100%;

  .autocomplete-input {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .autocomplete-aditional-fields {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }
}

.map-container {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  border-color: #e4e4e4;
}

.summary-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;

  .summary-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 12px;
    padding-block: 24px;
    border: solid 2px #e4e4e4;
    border-radius: 16px;
    justify-content: center;

    .summary-info-fields {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      margin-top: 4px;
      margin-bottom: 4px;

      .field-row-key {
        display: flex;
        text-align: left;
        padding-inline: 6px;
      }

      .field-row-description {
        margin-left: auto;
        color: #979797;
        text-align: right;

        &.semibold {
          font-weight: 500;
          color: #000;
        }
      }
    }
  }
}

.summary-text {
  font-size: 14px;
}

@media (height <= 780px) {
  .summary-text {
    font-size: 12px;
  }
}

.summary-partner {
  margin-top: 24px !important;
  width: 100%;
  margin: auto;
  text-align: center;

  p {
    color: #213547;
    margin: auto;
    font-weight: 400;
  }
}

.add-card-slot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border: solid 1px #e4e4e4;
  width: 100%;
  border-radius: 90px;

  .add-card-slot-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;

    .add-card-slot-img {
      border-radius: 100%;
      object-fit: contain;
      border: solid 1px #e4e4e4;
      max-width: 50px;
      min-width: 50px;
      width: fit-content;
      height: 50px;
    }
  }

  .add-card-slot-btn {
    font-weight: 600;
    padding-inline: 20px;
    height: 100%;
    width: fit-content;
    background: transparent;
  }
}

.upload-circular-progress {
  transform: scale(0.9);
  padding: 4px;

  .elevated-circle {
    margin: 0;
    scale: 0.8;
  }
}

.footer-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 12px;

  .footer-card-images {
    max-height: 24px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.scrollable {
  overflow: auto !important;
  height: auto !important;
  margin-top: 0 !important;

  &.preview {
    max-width: 500px;
  }
}
